/output_segment_000.m4a
/output_segment_000.m4a_0_transcription.txt
/output_segment_001.m4a
/output_segment_001.m4a_1_transcription.txt
/output_segment_002.m4a
/output_segment_002.m4a_2_transcription.txt
/output_segment_003.m4a
/output_segment_003.m4a_3_transcription.txt
/output_segment_004.m4a
/output_segment_004.m4a_4_transcription.txt
/output_segment_005.m4a
/output_segment_005.m4a_5_transcription.txt
/output_segment_006.m4a
/output_segment_006.m4a_6_transcription.txt
/output_segment_007.m4a
/output_segment_007.m4a_7_transcription.txt
/output_segment_008.m4a
/output_segment_008.m4a_8_transcription.txt
/output_segment_009.m4a
/output_segment_009.m4a_9_transcription.txt
/output_segment_010.m4a
/output_segment_010.m4a_10_transcription.txt
/output_segment_011.m4a
/output_segment_011.m4a_11_transcription.txt
/output_segment_012.m4a
/output_segment_012.m4a_12_transcription.txt
/output_segment_013.m4a
/output_segment_013.m4a_13_transcription.txt
/summary.txt
/transcription.txt